<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products list</title>
    <div th:replace="fragments/css_includes :: css"/>
</head>
<body>
<div class="container">
    <div th:insert="fragments/header :: header"></div>
    <main>
        <h3 class="h3 mt-4">Products:</h3>
        <table  class="table">
            <thead>
            <th scope="col">Order ID</th>
            <th scope="col">Created at</th>
            <th scope="col">Total amount</th>
            <th scope="col">Buyer name</th>
            <th scope="col">Status</th>
            </thead>
            <tbody>
            <tr th:each="o: ${orders}">
                <td th:text="${o.reference}"></td>
                <td th:text="${o.createdAt}"></td>
                <td th:text="${o.totalPrice}"></td>
                <td th:text="${o.client.name}"></td>
                <td th:text="${o.status}"></td>
               <!-- <td><a th:href="@{/orders/{ref}/changeStatus(ref=${o.reference},status=${T(com.visionary.crofting.entity.Order.OrderStatusEnum.PAYED)})}" class="btn btn-success">confirm</a></td>
                <td><a th:href="@{/orders/{ref}/changeStatus(ref=${o.reference},status=${T(com.visionary.crofting.entity.Order.OrderStatusEnum.CANCELED)})}" class="btn btn-success">cancel</a></td>
         -->   </tr>
            </tbody>
        </table>
        <nav aria-label="pagination mx-auto">
            <ul class="pagination">
                <li class="page-item" th:if="${page.hasPrevious()}">
                    <a class="page-link" th:href="@{/products/(page=${page.previousPageable().getPageNumber()})}" tabindex="-1">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" th:href="@{/products/?page=0}">1</a></li>
                <li class="page-item" th:if="${page.hasNext()}">
                    <a class="page-link" th:href="@{/products/(page=${page.nextPageable().getPageNumber()})}">Next</a>
                </li>
            </ul>
        </nav>
    </main>
</div>
<div th:replace="fragments/js_includes :: js"/>
</body>
</html>